#welcome{
    text-align: center;
}

.signin{
    background-color:blue;
    color:white;
    border-radius:25px;
    width:300px;
    height:30px;
    border:none;
}

.position{
    position:fixed;
    top:50%;
    left:60%
}

.image-position{
    position:fixed;
    top:22%;
}