.welcome{
    text-align:left;
    color:darkgreen;
}
.form{
    width:100%;
    height:50px
}
.tbl{
    width: 183px; 
    height:35px;
}
.save{
    width: 150px; 
    height:40px;
    color:white;
    background-color:blue;
    border:none;
}
.module{
    position:fixed;
    top:19%;
    left:43%;
    color:red;
}
.task{
    position:fixed;
    top:19%;
    left:58%;
    color:red;
}
.entries{
    position:fixed;
    top:32%;
    width:100%;
    text-align:center;
}

.alert{
position:fixed;
top:25%;
width:100%
}