﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="task" method="post">
        <p>Enter Task name: <input name="task_name" type="text" required /></p>
        <input name="user_id" value="{{u_id}}" hidden />
        <p><input type="submit" value="Submit" /></p>
    </form>
</body>
</html>