<!DOCTYPE html>
<html>
    <head>
        <title>
            Admin Page
        </title>
    </head>
    <body>
        <p><a href="{{url_for('project')}}" style="color:red">Create Project</a></p>
    </body>
</html>