<!DOCTYPE html>
<html>
    <head>
        <title>
            Edit timesheet entry
        </title>
    </head>
    <body>

        <form action="/edit/{{data.timesheet_id}}" method="post">
            <p>
                <b>Description</b>
            </p>
            <p><input type=text name="description" style="width:80%" value="{{data.description}}"/> </p>
            <p>
                <b>Select Project</b>
            </p>
            <select name="project_id" style="width:150px;height:40px" required>
                <option value="{{data.project_id}}"  selected>{{data.project.project_name}}</option>
                {% for project in projects%}
                    {% if project.project_id != data.project_id %}
                        <option value="{{project.project_id}}">{{project.project_name}}</option>"
                    {% endif %}
                {% endfor %}
            </select>
            <p>
                <b>Select Module</b>
            </p>
            <select name="module_id" style="width:150px;height:40px" required>
                <option value="{{data.module_id}}" selected>{{data.module.module_name}}</option>
                {% for module in modules %}
                    {% if module.module_id != data.module_id %}
                        <option value="{{module.module_id}}">{{module.module_name}}</option>"
                    {% endif %}
                {% endfor %}
            </select>
            <p>
                <b>Select Task</b>
            </p>
            <select name="task_id" style="width:150px;height:40px" required>
                <option value="{{data.task_id}}" selected>{{data.task.task_name}}</option>
                {% for task in tasks %}
                    {% if task.task_id != data.task_id %}
                        <option value="{{task.task_id}}">{{task.task_name}}</option>"
                    {% endif %}
                {% endfor %}
            </select>
            <p>
                <b>Worked Hours</b>
            </p>
            <select name="worked_hours" style="width:150px;height:40px" required>
                    <option value="{{data.worked_hours}}" selected>{{worked_hours_dict[data.worked_hours]}}</option>
                    {% for var in worked_hours_dict %}
                        {% if var != data.worked_hours %}
                            <option value="{{var}}">{{worked_hours_dict[var]}}</option>
                        {% endif %}
                    {% endfor %}
            </select>
            <p><input type="submit" value="Save Changes" /></p>
        </form>

    </body>
</html>