﻿<!DOCTYPE html>

<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="static/home_page.css">
</head>
<body>
    <p>
        
    </p>
    <p id="welcome"><b>WELCOME TO TIMESHEET APPLICATION</b></p>

    <p>
        <div class="image-position">
            <img src="{{url_for('static',filename='Entry_page.png')}}" width="700" height="400"/>
        </div>
        <div class="position">
            <a href="login"><button class="signin"style="">Sign in with Email</button></a>
            <p>New user:<u><a href="register">Sign-up</a></u></p>
        </div>
    </p>

</body>
</html>
