﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="static/registration_page.css">
</head>
<body>
    <p style="position:fixed;top:30%;left:42%"><b>REGISTER TO TIMESHEET APPLICATION</b></p>
    <form action="" method="post">
        <table style="position:fixed;top:40%;left:40%;border-spacing:15px">
            <tr><td>Enter First name:</td> <td><input type="text" name="first_name" required/></td></tr>
            <tr><td>Enter Last name:</td> <td><input type="text" name="last_name" required/></td></tr>
            <tr><td>Enter Email address:</td> <td><input type="email" name="email" required/></td></tr>
            <tr><td>Enter Password:</td> <td><input type="text" name="password" required/></td></tr>
            <tr><td>Enter Cofirm password:</td> <td><input type="text" name="confirm_password" required/></td></tr>
            <tr><td><a href="{{url_for("home_page")}}">Back</a></td><td><input type="submit" value="Submit" /></td></tr>
        </table>
    </form>
</body>
</html>