﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>{{status}}</p>

    {% if status=="Email id doesn't exist" %}
    <a href="login">Back</a>
    {% endif %}

    {% if status=="Please enter correct password" %}
    <a href="login">Back</a>
    {% endif %}

    {% if status=="User already registered. Please sign-in" %}
    <a href="homepage">Back</a>
    {% endif %}

    {% if status=="Registration successful" %}
    <a href="homepage">Back</a>
    {% endif %}

    {% if status=="Password and confirm password doesn't match" %}
    <a href="register">Back</a>
    {% endif %}

    {% if status=="Project added successfully!!!" %}
    <a href="{{url_for('home_page')}}"><input type=button value='Back to Homepage'/></a>
    <a href="{{url_for('project')}}"><input type=button value='Back to Admin page'/></a>
    {% endif %}

    {% if status=="Project already available!!!" %}
    <a href="{{url_for('home_page')}}"><input type=button value='Back to Homepage'/></a>
    <a href="{{url_for('project')}}"><input type=button value='Back to Admin page'/></a>
    {% endif %}

    
</body>
</html>