﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    
    <title></title>
    <link rel="stylesheet" href="/static/timesheet.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <p>
        <div class="welcome">Welcome {{f_name}} {{l_name}}</div>
        <div style="text-align:right"><a href="{{url_for('home_page')}}"><input type="button" value="Log-out" /></a></div>
    </p>

    <form action="timesheet" method="post" class="form">
        <input type="date" class="tbl" name="date" value="{{dt}}"/>

        <input type="text" placeholder="What have you done?" class="tbl" name="description" required />

        <select name="project_id" class="tbl" required>
            <option value="" disabled selected>Select-project</option>
            {% for project in projects%}
                <option value="{{project.project_id}}">{{project.project_name}}</option>
            {% endfor %}
        </select>

        <select name="module_id" class="tbl" required>
            <option value="" disabled selected>Select-module</option>
            {% for module in modules %}
                <option value="{{module.module_id}}">{{module.module_name}}</option>
            {% endfor %}
        </select>

        <select name="task_id" class="tbl" required>
            <option value="" disabled selected>Select-task</option>
            {% for task in tasks %}
                <option value="{{task.task_id}}">{{task.task_name}}</option>
            {% endfor %}
        </select>

        <select name="worked_hours" class="tbl" required>
            <option value="" disabled selected>Select-time</option>
            {% for var in worked_hours_dict %}
                <option value="{{var}}">{{worked_hours_dict[var]}}</option>
            {% endfor %}

        </select>
        <input name="user_id" value="{{id}}" hidden />
        <input type="submit" class="save" value="Save" />

    </form>

    <!-- <form action="date_range" method="post" name="range">
        From Date: <input type="date" name="from_date"/>
        To date: <input type="date" name="to_date"/>
        <input type="submit" value="Submit"/>
    </form> -->
    <p><a href="{{url_for('module',user_id=id)}}" class="module">Create Module</a></p>

    <p><a href="{{url_for('task',user_id=id)}}" class="task">Create Task</a></p>
    <p></p>
    <p>{% with messages = get_flashed_messages(category_filter=["commit_status_success"]) %}  
            {% if messages %}  
                {% for message in messages %}  
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{message}}</strong> 
                  </div>
                {% endfor %}  
            {% endif %}  
    {% endwith %}

    {% with messages = get_flashed_messages(category_filter=["commit_status_fail"]) %}  
            {% if messages %}  
                {% for message in messages %}  
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{message}}</strong> 
                  </div>
                {% endfor %}  
            {% endif %}  
    {% endwith %}
    </p> 

    <table class="entries">
        <tr style="background-color:antiquewhite;border-spacing:20px">
            <th style="text-align:center">Date</th>
            <th style="text-align:center">Description</th>
            <th style="text-align:center">Project</th>
            <th style="text-align:center">Module</th>
            <th style="text-align:center">Task</th>
            <th style="text-align:center">Worked hours</th>
            <th style="text-align:center">Edit</th>
            <th style="text-align:center">Delete</th>
        </tr>

        {% for data in t_data %}
        <tr style="border-spacing:50px">
            <td>{{data.timesheet_date}}</td>
            <td>{{data.description}}</td>
            <td>{{data.project.project_name}}</td>
            <td>{{data.module.module_name}}</td>
            <td>{{data.task.task_name}}</td>
            <td>{{worked_hours_dict[data.worked_hours]}}</td>
            <td ><a href="{{url_for('edit_entry',timesheet_id=data.timesheet_id)}}"><ion-icon name="create-outline"></ion-icon></a></td>
            <td ><button type="button"  data-toggle="modal" data-target="#myModal"><ion-icon name="trash-outline"></ion-icon></button></td>
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                        <div class="modal-body">
                            <p>Are you sure want to delete this entry?</p>
                        </div>
                        <div class="modal-footer">
                            <a  href="{{url_for('delete_entry',timesheet_id=data.timesheet_id)}}"><input type="button"  class="btn btn-default" value='OK'/></a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                  </div>
                 
                </div>
            </div>
        </tr>
        {% endfor %}
    </table>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>